absl-py
aider
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
appmap
argon2-cffi
argon2-cffi-bindings
arrow
arviz
asttokens
astunparse
async-lru
attrs
babel
backcall
backoff
bayes-optim
bayesian-optimization
bcrypt
beautifulsoup4
berkeleydb
bleach
blinker
bokeh
Bottleneck
Brotli
bs4
cachetools
certifi
cffi
charset-normalizer
chart-studio
click
cloudpickle
colorama
comm
ConfigArgParse
configparser
cons
contourpy
cryptography
cycler
Cython
debugpy
decorator
deepdiff
defusedxml
diff-match-patch
dill
diskcache
distlib
distro
docopt
etuples
exchange_calendars
executing
fastjsonschema
filelock
flake8
flatbuffers
fonttools
fqdn
frozendict
frozenlist
fsspec
futureproof
gast
gitdb
GitPython
google-pasta
greenlet
grep-ast
groq
grpcio
h11
h5netcdf
h5py
html5lib
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
inflection
iniconfig
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsondiff
jsonify
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
korean-lunar-calendar
libclang
line_profiler
litellm
llvmlite
logical-unification
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
miniKanren
mistune
mkl_fft
mkl_random
mkl-service
ml_dtypes
mpld3
mplfinance
mpmath
multidict
multipledispatch
multitasking
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
networkx
notebook
notebook_shim
Nuitka
numba
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
objgraph
openai
opt-einsum
optree
ordered-set
orderly-set
overrides
packaging
pandas
pandas-decimal
pandas_ta
pandocfilters
paramiko
parso
pathspec
patsy
peewee
pexpect
pickleshare
pillow
pip
pip_search
pipreqs
platformdirs
plotly
pluggy
pprint3x
prettytable
prometheus_client
prompt_toolkit
protobuf
psutil
psycopg2
ptyprocess
PuLP
pure_eval
py-expression-eval
pyarrow
pyclean
pycodestyle
pycparser
pycurl
pydantic
pydantic_core
pydeck
pyDOE
pydot
pydub
pyflakes
Pygments
pyluach
pymc
PyNaCl
pypandoc
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
pytensor
pytest
python-dateutil
python-dotenv
python-json-logger
pytorch-triton
pytz
PyxLSTM
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikeras
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shap
silence_tensorflow
six
slicer
smmap
sniffio
sobol-seq
sounddevice
soundfile
soupsieve
SQLAlchemy
stack-data
statsmodels
streamlit
streamlit-js-eval
sympy
ta-lib
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_estimator
tensorflow_keras
termcolor
terminado
tf_keras
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
tree-sitter
tree-sitter-languages
triton
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvloop
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xarray
xarray-einstats
xyzservices
yarg
yarl
yfinance
yfinance-cache
zipp
zstandard
