argcomplete==3.5.1
charset_normalizer==3.3.2
colorama==0.4.6
Cython==3.0.11
dill==0.3.8
futureproof==0.3.1
gevent==24.11.1
gguf==0.10.0
groq==0.12.0
hypothesis==6.119.3
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
jsonify==0.5
keras==3.5.0
line_profiler==4.1.3
matplotlib==3.9.2
mplfinance==0.12.10b0
mtrand==0.1
mypy==1.13.0
netifaces==0.11.0
pandas==2.2.3
pandas_ta==0.3.14b0
papermill==2.6.0
paramiko==3.5.0
pexpect==4.9.0
pickle5==0.0.12
pip==24.2
psutil==6.0.0
pycares==4.4.0
pycurl==7.45.3
pyczmq==0.0.4
pydantic==2.9.2
pydot==3.0.1
PyInstaller==6.11.1
pytest==8.3.3
pytz==2024.2
PyYAML==6.0.2
scikit_learn==1.5.2
seaborn==0.13.2
setuptools==75.1.0
shap==0.46.0
statsmodels==0.14.3
streamlit==1.40.0
streamlit_js_eval==0.1.7
tensorflow==2.17.0
threadpoolctl==3.5.0
tokenize_rt==6.1.0
tomli==2.1.0
torch==2.5.0
typed_ast==1.5.5
typing_extensions==4.12.2
usercustomize==1.0.0
uvloop==0.21.0
win32security==2.1.0
yfinance==0.2.43
